<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="SresgaminGFiles">
      
      <Component Id="ArmamutEMainProgram" Guid="{808A3718-F67E-4854-93E4-DEE5543C12AA}" Directory="INSTALLFOLDER">

        <RemoveFolder Id="ArmamutEMainProgram" On="uninstall" Directory="INSTALLFOLDER"/>

        <File Id="SresgaminG.ArmamutE" Name="ArmamutE.exe" DiskId="1" Source="$(var.ArmamutE.TargetPath)" KeyPath="yes"/>
        <File Id="SresgaminG.ArmamutE.config" Name ="ArmamutE.exe.config"  DiskId="1" Source="$(var.ArmamutE.TargetPath).config"/>
        
        <File Id="Gma.System.MouseKeyHook" Name="Gma.System.MouseKeyHook.dll" DiskId="1" Source="$(var.SolutionDir)ArmamutE\dlls\Gma.System.MouseKeyHook.dll"/>
        <File Id="CoreAudio" Name="CoreAudio.dll" DiskId="1" Source="$(var.SolutionDir)ArmamutE\dlls\CoreAudio.dll"/>
        <File Id="NLog" Name="NLog.dll" DiskId="1" Source="$(var.SolutionDir)ArmamutE\dlls\NLog.dll"/>

        <Shortcut Id="startMenuArmamutEShortcut" Directory="SresgaminGMenuDir" Icon ="ArmamutE.exe.ico" Name="ArmamutE" WorkingDirectory="INSTALLFOLDER" IconIndex="0" Advertise="yes" />
        <Shortcut Id="desktopArmamutEShortcut" Directory="DesktopFolder" Name="ArmamutE" WorkingDirectory="INSTALLFOLDER" Icon="ArmamutE.exe.ico" IconIndex="0" Advertise="yes" />
      </Component>
      
    </ComponentGroup>
	</Fragment>
</Wix>