<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="SresgaminGFiles">
      
      <Component Id="GamemutEMainProgram" Guid="{808A3718-F67E-4854-93E4-DEE5543C12AA}" Directory="INSTALLFOLDER">

        <RemoveFolder Id="GamemutEMainProgram" On="uninstall" Directory="INSTALLFOLDER"/>

        <File Id="SresgaminG.GamemutE" Name="GamemutE.exe" DiskId="1" Source="$(var.GamemutE.TargetPath)" KeyPath="yes"/>
        <File Id="SresgaminG.GamemutE.config" Name ="GamemutE.exe.config"  DiskId="1" Source="$(var.GamemutE.TargetPath).config"/>
        
        <File Id="Gma.System.MouseKeyHook" Name="Gma.System.MouseKeyHook.dll" DiskId="1" Source="$(var.SolutionDir)ArmamutE\dlls\Gma.System.MouseKeyHook.dll"/>
        <File Id="CoreAudio" Name="CoreAudio.dll" DiskId="1" Source="$(var.SolutionDir)ArmamutE\dlls\CoreAudio.dll"/>
        <File Id="NLog" Name="NLog.dll" DiskId="1" Source="$(var.SolutionDir)ArmamutE\dlls\NLog.dll"/>

        <Shortcut Id="startMenuGamemutEShortcut" Directory="SresgaminGMenuDir" Icon ="GamemutE.exe.ico" Name="GamemutE" WorkingDirectory="INSTALLFOLDER" IconIndex="0" Advertise="yes" />
        <Shortcut Id="desktopGamemutEShortcut" Directory="DesktopFolder" Name="GamemutE" WorkingDirectory="INSTALLFOLDER" Icon="GamemutE.exe.ico" IconIndex="0" Advertise="yes" />
      </Component>
      
    </ComponentGroup>
	</Fragment>
</Wix>